
body {
    max-width: 767px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 30px;
}

.heart-logo {
    font-size: 3rem;
    color: var(--card-red);
    margin: 3rem 0;
    height: 4rem;
}

.bi-heart-pulse {
    position: fixed;
    left: 43.5%;
}

path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

.main-title {
    text-transform: lowercase;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form-main {
    margin-bottom: 4rem;
}

.btn-primary {
    width: 6rem;
    margin-top: 1rem;
    animation: opacityBtn .5s ease-out;
}

#email-input,
#password-input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin-bottom: 1rem;
}

.section-login-social {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-login,
.facebook-login {
    width: 12rem;
    height: 2.3rem;
    padding: .3rem;
    border-radius: 4px;
    gap: 5px;
}

.bi-google,
.bi-facebook {
    margin-left: .5rem;
}

.social-text {
    font-size: .9rem;
}

.bi-google {
    color: #db4a39;
}

.bi-facebook {
    color: #3b5998;
}

.section-login-social {
    animation: slideLeft .4s ease-out;
}

@keyframes opacityBtn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    } 100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@media screen and (min-width: 768px) {
    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
    }

    ::selection {
        background: var(--card-red);
        color: var(--white);
    }

    .header-container {
        display: flex;
        justify-content: center;
    }

    .main-box {
        border: 1px solid rgb(216, 214, 214);
        border-radius: 5px;
        box-shadow: 6px 6px 9px rgba(46, 46, 46, 0.24);
        padding: 3rem 2rem;
    }

    .heart-logo {
        margin-right: 12rem;
        margin-top: -1rem;
        font-size: 5rem;
    }

    .bi-heart-pulse {
        position: relative;
    }

    .google-login,
    .facebook-login {
        cursor: pointer;
    } 
}